<h1>Let's play Guess the Phrase!</h1>
<form action="/typed_phrase">
  <label for="typed_phrase">Type a phrase below, hit submit, grab a friend, and see if they can
  guess what you typed!</label>
  <input type="text" name="typed_phrase" value="">
  <button type="submit" name="button">Submit</button>
</form>
